<%- include('./partials/anim.ejs') %>

  <div class="container w-full h-screen relative flex justify-center items-center m-auto">
    <span class="flex flex-row items-center overflow-hidden w-4/12">
      <div id="div1"
        class="flex flex-col mx-7 items-center h-3/5 max-w-[370px] sm:bg-white bg-transparent px-4 md:px-12 py-8 md:py-4 rounded-3xl">
        <span class="flex justify-start px-8 items-center border-b-2 w-[130%]">
          <a href="/"><i class="ri-arrow-left-line "></i></a>
          <h1
            class="py-4 mx-11 w-48 mb-2 text-xl sm:text-black text-white text-center tracking-tight capitalize font-semibold leading-none">
            Create New Account</h1>
        </span>
        <!-- Registration Form -->
        <form class="my-4" id="registrationForm" method="post" enctype="multipart/form-data">
          <input class="block border-2 border-slate-300 bg-slate-200 rounded-xl my-2 w-full px-2 py-2" type="text"
            name="fullname" placeholder="Full name" required>
          <input class="block border-2 rounded-xl border-slate-300 bg-slate-200 my-2 w-full px-1 py-2" type="email"
            name="email" placeholder="Email Address" required>
          <button id="btn" class="block border-2 rounded-full w-full py-2 bg-red-600 text-white">Continue</button>
          <p class="text-xs font-semibold mt-5 text-center w-9/12 mx-auto">By continuing, you agree to Pinterest's Terms
            of Service and acknowledge you've read our Privacy Policy. Notice at collection.</p>
        </form>
        <a class="block text-center text-m font-semibold sm:text-zinc-700 text-white" href="/login">Already on
          Pinterest? <strong>Sign In</strong></a>
      </div>

      <div id="div2"
        class="flex flex-col mx-7 items-center h-3/5 max-w-[370px] sm:bg-white bg-transparent px-4 md:px-12 py-8 md:py-4 rounded-3xl">
        <span class="flex justify-start px-8 items-center border-b-2 w-[130%]">
          <a id="backbtn"><i class="ri-arrow-left-line "></i></a>
          <h1
            class="py-4 mx-11 w-48 mb-2 text-xl sm:text-black text-white text-center tracking-tight capitalize font-semibold leading-none">
            Create New Account</h1>
        </span>
        <!-- Registration Confirmation Form -->
        <form class="my-4" id="confirmForm" action="/register" method="post">
          <input class="block border-2 border-slate-300 bg-slate-200 rounded-xl my-2 w-full px-2 py-2" required
            type="text" name="username" placeholder="Username">
          <input class="block border-2 rounded-xl border-slate-300 bg-slate-200 mb-1 w-full px-1 py-2" required
            type="password" name="password" placeholder="Password">
          <input class="block border-2 rounded-xl border-slate-300 bg-slate-200 my-2 w-full px-1 py-2" required
            type="tel" name="contact" placeholder="Contact">
          <input class="block border-2 rounded-full my-4 w-full px-1 py-2 bg-red-600 text-white cursor-pointer" type="submit"
            value="Confirm">
          <p class="text-xs font-semibold mt-5 text-center w-9/12 mx-auto">By continuing, you agree to Pinterest's Terms
            of Service and acknowledge you've read our Privacy Policy. Notice at collection.</p>
        </form>
      </div>
    </span>
  </div>


  <script src="./javascripts/register.js"></script>

<%- include('./partials/footer.ejs') %>