@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles for masonry grid */
.grid-item {
  /* Ensure images fill their containers */
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

/* Marquee styles from welcome.ejs / anim.ejs */
.marquee {
  animation: scroll infinite linear 10s;
}

.marquee:nth-child(odd){
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
