<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinterest</title>

  <link rel="shortcut icon" href="/images/pinterest.svg" type="image/x-icon">

  <link rel="stylesheet" href="/dist/output.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./javascripts/header.js"></script>

  <style>
            /* Custom styles for masonry grid */
 
        .grid-item {
            /* Ensure images fill their containers */
            width: 100%;
            height: fit-content;
            object-fit: cover;
        }
  </style>

</head>

<body class="bg-[#27272a]">

  <% if (nav === true) { %>
  <div class="navigation relative z-[333] max-w-full px-5 py-[1vw] flex items-center gap-5 font-['Gilroy'] text-white">
    <div class="logo">
      <svg fill="#e60023" class="w-10" height="24" width="24" viewBox="0 0 24 24" aria-hidden="true" aria-label=""
        role="img">
        <path
          d="M0 12a12 12 0 0 0 7.73 11.22 12 12 0 0 1 .03-3.57l1.4-5.94S8.8 13 8.8 11.94c0-1.66.96-2.9 2.16-2.9 1.02 0 1.51.77 1.51 1.68 0 1.03-.65 2.56-.99 3.98-.28 1.19.6 2.16 1.77 2.16 2.12 0 3.76-2.24 3.76-5.47 0-2.86-2.06-4.86-5-4.86a5.17 5.17 0 0 0-5.39 5.18c0 1.03.4 2.13.9 2.73q.12.17.08.34l-.34 1.36q-.06.31-.4.16c-1.49-.7-2.42-2.88-2.42-4.63 0-3.77 2.74-7.23 7.9-7.23 4.14 0 7.36 2.95 7.36 6.9 0 4.12-2.6 7.43-6.2 7.43-1.21 0-2.35-.63-2.74-1.37l-.74 2.84a14 14 0 0 1-1.55 3.23A12 12 0 1 0 0 12">
        </path>
      </svg>
    </div>
    <div class="links flex gap-5">
      <a id="home" class="whitespace-nowrap font-semibold" href="/profile">Home</a>
      <a class="whitespace-nowrap font-semibold" href="/explore">Explore</a>
      <span class="whitespace-nowrap font-semibold cursor-pointer" onclick="drop()">
        <button
          class="px-2 focus:ring-1 focus:outline-none focus:ring-white font-semibold rounded-lg text-md text-center inline-flex items-center dark:focus:ring-white"
          type="button">Create
          <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        <span id="dropdown"
          class="z-10 mt-8 absolute hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="/add"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Create New
                Post</a>
            </li>
            <li>
              <a href="/board" id="create-board" onclick="drophide()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Create New
                Board</a>
            </li>
          </ul>
        </span>
      </span>
      </a>
    </div>

    <div class="inputcontainer flex w-full rounded-full bg-zinc-200">
      <div class="input w-full relative group">
        <div class="hidden searchdata w-[98%] min-h-20 bg-white absolute top-full left-1/2 -translate-x-1/2 rounded-md py-3">
        </div>
        <input id="searchInput" type="text"
          class="bg-transparent outline-none px-5 font-semibold w-full py-3 rounded-full text-black"
          placeholder="Search Pizza, 3d Designs or what not...">
        <i class="absolute top-1/2 right-3 hidden group-focus:block text-zinc-500 text-xl -translate-y-1/2 ri-close-line">
        </i>
      </div>
      <a href="/feed"
        class="flex items-center whitespace-nowrap px-5 rounded-full bg-slate-500 font-semibold hover:bg-zinc-300 hover:text-slate-500  text-sm border-l-2 border-zinc-300">All
        Pins</a>
    </div>

    <div class="iconsnpic flex gap-6 items-center">
      <% if (user) { %>
      <div onclick="dropprofile()"
        class="pic flex flex-row-reverse items-center whitespace-nowrap font-semibold cursor-pointer">
        <button
          class="text-gray-300 bg-white bg-opacity-25 py-1 px-2 pl-3 focus:ring-1 focus:outline-none focus:ring-white font-semibold rounded-3xl text-lg text-center inline-flex items-center dark:focus:ring-white"
          type="button">
          <span>
            <%= user.username %>
          </span>
          <div class="size-8 ml-3 bg-zinc-400 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profileImage %>" alt="">
          </div>
        </button>
        <span id="drop-profile"
          class="z-10 right-3 top-20 absolute overflow-hidden hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-28 dark:bg-gray-700">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="/edit"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                onclick="drophide()">Edit Profile</a>
            </li>
            <li>
              <a href="/logout"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Logout</a>
            </li>
          </ul>
        </span>
      </div>
      <% } else { %>
      <div class="guest-options">
        <span class="cursor-pointer flex justify-between items-center w-20" onclick="showGuestOptions()">Guest <img
            class="size-8 bg-white rounded-3xl"
            src="https://static-00.iconduck.com/assets.00/profile-circle-icon-2048x2048-cqe5466q.png"></span>
        <div id="guest-dropdown"
          class="hidden absolute right-0 mt-5 mr-3 w-32 origin-top-right bg-gray-700 divide-y rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
          <div class="py-1" role="none">
            <a href="/login"
              class="block px-4 py-2 text-sm text-white hover:bg-gray-100 hover:text-gray-900" role="menuitem">Login</a>
            <a href="/register"
              class="block px-4 py-2 text-sm text-white hover:bg-gray-100 hover:text-gray-900"
              role="menuitem">Register</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>

  </div>
  <div class="posts">
    <div class="overlay hidden z-10 fixed w-full h-screen bg-black/90"></div>
    <div class="content">
      <div class="container">

      </div>
    </div>
  </div>


  <% } %>

